# Xcode
*.xcworkspace
**/xcuserdata/
.DS_Store
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Swift Package Manager
.build/

# Temporary files
*.swp
*.tmp
*~

# iOS
*.moved-aside
*.xccheckout
*.xcscmblueprint